@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: sans-serif;
}
body {
    font-size: 1.5rem;
    line-height: 1.6;
    min-height: 100vh;
    background: radial-gradient(circle at center center, hsla(166,0%,10%,1) 0%,hsla(181,0%,10%,1) 29%,transparent 65%),linear-gradient(90deg, rgb(35,35,35) 0%, rgb(35,35,35) 50%,rgb(35,35,35) 50%, rgb(35,35,35) 100%);
    background-size: 7px 7px;
}
header {
    width: 98%;
    max-width: 80rem;
    min-height: 15rem;
    padding: 1rem;
    margin: 1rem auto;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.75rem;
    border-radius: 1.25rem;
    background: repeating-linear-gradient(297deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(59deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(0deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253));
}
header > * {
    margin: 0.75rem 0;
}
header h1 {
    display: inline-block;
    line-height: 1.2;
    border-bottom: 1px solid #333;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0 1rem;
    font-family: 'Sniglet', cursive;
}
header h1 span {
    background: #333;
    color: #ff0;
    padding: 1rem;
    padding-bottom: 0;
}
header a {
    text-decoration: none;
    margin: 0 0.5rem;
    color: #dc143c;
}
table.blueTable {
    background-color: #69d0b3;
    width: 98%;
    max-width: 60rem;
    min-height: 20rem;
    text-align: left;
    border-collapse: collapse;
    margin: 3rem auto;
}
table.blueTable td,
table.blueTable th {
    padding: 1.25rem 0.5rem;
}
table.blueTable tbody tr td:first-child {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table.blueTable tbody td {
    font-size: 1.4rem;
}
table.blueTable tr:nth-child(even) {
    background: #b2fcff;
}
table.blueTable thead {
    background: #e43f5a;
}
table.blueTable thead th {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background: linear-gradient(145deg, #f44360, #cd3951);
    box-shadow: inset 12px 12px 24px #c2364d,
    inset -12px -12px 24px #ff4868;
}
table a {
    text-decoration: none;
    color: #333;
    margin-left: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px dotted #9f9f9f;
    transition: all 0.2s ease;
    font-weight: 700;
}
table a:hover {
    color: #000;
}

th:first-child {
    cursor: pointer;
}