* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: repeating-radial-gradient(
            circle at center center,
            transparent 0px,
            transparent 13px,
            rgba(0, 0, 0, 0.03) 13px,
            rgba(0, 0, 0, 0.03) 24px,
            transparent 24px,
            transparent 62px,
            rgba(0, 0, 0, 0.03) 62px,
            rgba(0, 0, 0, 0.03) 96px
        ),
        repeating-radial-gradient(
            circle at center center,
            rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 14px,
            rgb(255, 255, 255) 14px,
            rgb(255, 255, 255) 18px,
            rgb(255, 255, 255) 18px,
            rgb(255, 255, 255) 28px,
            rgb(255, 255, 255) 28px,
            rgb(255, 255, 255) 32px
        );
    background-size: 21px 21px;

    color: #333;
}

main {
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

table {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
}

th {
    cursor: pointer;
}
