* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

#game {
    width: 50rem;
    height: 20rem;
    border: 1px solid pink;
}

#character {
    width: 2rem;
    height: 5rem;
    background: red;
    position: relative;
    top: 15rem;
}
.animate {
    animation: jump 500ms linear;
}

@keyframes jump {
    0% {
        top: 15rem;
    }
    30% {
        top: 10rem;
    }
    70% {
        top: 10rem;
    }
    100% {
        top: 15rem;
    }
}

#block {
    width: 2rem;
    height: 2rem;
    background: blue;
    position: relative;
    top: 13rem;
    left: 48rem;
    animation: block 1s linear infinite;
}

@keyframes block {
    0% {
        left: 48rem;
    }
    100% {
        left: -2rem;
    }
}
