* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.6;
}
body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.6rem;
    background: seagreen;
    color: #333;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1365%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1366)'%3e%3c/rect%3e%3cpath d='M76.13 534.84L141.09 572.34L141.09 647.34L76.13 684.84L11.18 647.34L11.18 572.34zM141.09 -27.66L206.04 9.84L206.04 84.84L141.09 122.34L76.13 84.84L76.13 9.84zM335.95 309.84L400.9 347.34L400.9 422.34L335.95 459.84L271 422.34L271 347.34zM271 422.34L335.95 459.84L335.95 534.84L271 572.34L206.04 534.84L206.04 459.84zM465.86 84.84L530.81 122.34L530.81 197.34L465.86 234.84L400.9 197.34L400.9 122.34zM660.72 197.34L725.67 234.84L725.67 309.84L660.72 347.34L595.76 309.84L595.76 234.84zM725.67 534.84L790.63 572.34L790.63 647.34L725.67 684.84L660.72 647.34L660.72 572.34zM790.62 422.34L855.58 459.84L855.58 534.84L790.62 572.34L725.67 534.84L725.67 459.84zM855.58 534.84L920.53 572.34L920.53 647.34L855.58 684.84L790.62 647.34L790.62 572.34zM985.49 84.84L1050.44 122.34L1050.44 197.34L985.49 234.84L920.53 197.34L920.53 122.34zM1115.39 309.84L1180.35 347.34L1180.35 422.34L1115.39 459.84L1050.44 422.34L1050.44 347.34zM1115.39 534.84L1180.35 572.34L1180.35 647.34L1115.39 684.84L1050.44 647.34L1050.44 572.34zM1245.3 84.84L1310.25 122.34L1310.25 197.34L1245.3 234.84L1180.35 197.34L1180.35 122.34zM1180.35 422.34L1245.3 459.84L1245.3 534.84L1180.35 572.34L1115.39 534.84L1115.39 459.84zM1375.21 84.84L1440.16 122.34L1440.16 197.34L1375.21 234.84L1310.26 197.34L1310.26 122.34zM1505.12 309.84L1570.07 347.34L1570.07 422.34L1505.12 459.84L1440.16 422.34L1440.16 347.34z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M68.63 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.59 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.59 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.63 684.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM3.68 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM3.68 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.59 -27.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.54 9.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.54 84.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM133.59 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.63 84.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM68.63 9.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.45 309.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.4 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.4 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.45 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.5 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.5 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM328.45 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM263.5 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.54 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM198.54 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.36 84.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM523.31 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM523.31 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM458.36 234.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.4 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM393.4 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.22 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.17 234.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.17 309.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.22 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.26 309.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM588.26 234.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.17 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.13 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.13 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.17 684.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.22 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM653.22 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.12 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM848.08 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM848.08 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.12 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM718.17 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.03 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.03 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM848.08 684.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM783.12 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM977.99 84.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1042.94 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1042.94 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM977.99 234.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.03 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM913.03 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1107.89 309.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1172.85 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1172.85 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1107.89 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1042.94 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1042.94 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1107.89 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1172.85 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1172.85 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1107.89 684.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1042.94 647.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1042.94 572.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1237.8 84.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1302.75 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1302.75 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1237.8 234.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1172.85 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1172.85 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1237.8 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1237.8 534.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.71 84.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.66 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.66 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1367.71 234.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1302.76 197.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1302.76 122.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1497.62 309.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1562.57 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1562.57 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1497.62 459.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.66 422.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1432.66 347.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M4.97 144.39L49.14 169.89L49.14 220.89L4.97 246.39L-39.2 220.89L-39.2 169.89zM4.97 297.39L49.14 322.89L49.14 373.89L4.97 399.39L-39.2 373.89L-39.2 322.89zM49.14 373.89L93.31 399.39L93.31 450.39L49.14 475.89L4.97 450.39L4.97 399.39zM49.14 526.89L93.31 552.39L93.31 603.39L49.14 628.89L4.97 603.39L4.97 552.39zM93.31 -8.61L137.48 16.89L137.48 67.89L93.31 93.39L49.14 67.89L49.14 16.89zM93.31 450.39L137.48 475.89L137.48 526.89L93.31 552.39L49.14 526.89L49.14 475.89zM181.64 144.39L225.81 169.89L225.81 220.89L181.64 246.39L137.48 220.89L137.48 169.89zM225.81 220.89L269.98 246.39L269.98 297.39L225.81 322.89L181.64 297.39L181.64 246.39zM225.81 373.89L269.98 399.39L269.98 450.39L225.81 475.89L181.64 450.39L181.64 399.39zM314.15 67.89L358.32 93.39L358.32 144.39L314.15 169.89L269.98 144.39L269.98 93.39zM314.15 220.89L358.32 246.39L358.32 297.39L314.15 322.89L269.98 297.39L269.98 246.39zM314.15 373.89L358.32 399.39L358.32 450.39L314.15 475.89L269.98 450.39L269.98 399.39zM358.32 -8.61L402.49 16.89L402.49 67.89L358.32 93.39L314.15 67.89L314.15 16.89zM402.49 220.89L446.66 246.39L446.66 297.39L402.49 322.89L358.32 297.39L358.32 246.39zM402.49 373.89L446.66 399.39L446.66 450.39L402.49 475.89L358.32 450.39L358.32 399.39zM446.66 -8.61L490.82 16.89L490.82 67.89L446.66 93.39L402.49 67.89L402.49 16.89zM490.82 220.89L534.99 246.39L534.99 297.39L490.82 322.89L446.66 297.39L446.66 246.39zM490.82 373.89L534.99 399.39L534.99 450.39L490.82 475.89L446.66 450.39L446.66 399.39zM534.99 297.39L579.16 322.89L579.16 373.89L534.99 399.39L490.82 373.89L490.82 322.89zM534.99 450.39L579.16 475.89L579.16 526.89L534.99 552.39L490.82 526.89L490.82 475.89zM667.5 67.89L711.67 93.39L711.67 144.39L667.5 169.89L623.33 144.39L623.33 93.39zM623.33 297.39L667.5 322.89L667.5 373.89L623.33 399.39L579.16 373.89L579.16 322.89zM667.5 373.89L711.67 399.39L711.67 450.39L667.5 475.89L623.33 450.39L623.33 399.39zM623.33 450.39L667.5 475.89L667.5 526.89L623.33 552.39L579.16 526.89L579.16 475.89zM667.5 526.89L711.67 552.39L711.67 603.39L667.5 628.89L623.33 603.39L623.33 552.39zM711.67 -8.61L755.84 16.89L755.84 67.89L711.67 93.39L667.5 67.89L667.5 16.89zM711.67 297.39L755.84 322.89L755.84 373.89L711.67 399.39L667.5 373.89L667.5 322.89zM711.67 450.39L755.84 475.89L755.84 526.89L711.67 552.39L667.5 526.89L667.5 475.89zM844.17 67.89L888.34 93.39L888.34 144.39L844.17 169.89L800 144.39L800 93.39zM844.17 220.89L888.34 246.39L888.34 297.39L844.17 322.89L800 297.39L800 246.39zM800 297.39L844.17 322.89L844.17 373.89L800 399.39L755.84 373.89L755.84 322.89zM888.34 -8.61L932.51 16.89L932.51 67.89L888.34 93.39L844.17 67.89L844.17 16.89zM932.51 67.89L976.68 93.39L976.68 144.39L932.51 169.89L888.34 144.39L888.34 93.39zM932.51 220.89L976.68 246.39L976.68 297.39L932.51 322.89L888.34 297.39L888.34 246.39zM888.34 297.39L932.51 322.89L932.51 373.89L888.34 399.39L844.17 373.89L844.17 322.89zM888.34 450.39L932.51 475.89L932.51 526.89L888.34 552.39L844.17 526.89L844.17 475.89zM976.68 450.39L1020.85 475.89L1020.85 526.89L976.68 552.39L932.51 526.89L932.51 475.89zM1109.18 220.89L1153.35 246.39L1153.35 297.39L1109.18 322.89L1065.02 297.39L1065.02 246.39zM1197.52 67.89L1241.69 93.39L1241.69 144.39L1197.52 169.89L1153.35 144.39L1153.35 93.39zM1153.35 450.39L1197.52 475.89L1197.52 526.89L1153.35 552.39L1109.18 526.89L1109.18 475.89zM1285.86 67.89L1330.03 93.39L1330.03 144.39L1285.86 169.89L1241.69 144.39L1241.69 93.39zM1285.86 373.89L1330.03 399.39L1330.03 450.39L1285.86 475.89L1241.69 450.39L1241.69 399.39zM1330.03 297.39L1374.2 322.89L1374.2 373.89L1330.03 399.39L1285.86 373.89L1285.86 322.89zM1374.2 373.89L1418.36 399.39L1418.36 450.39L1374.2 475.89L1330.03 450.39L1330.03 399.39zM1418.36 -8.61L1462.53 16.89L1462.53 67.89L1418.36 93.39L1374.2 67.89L1374.2 16.89zM1418.36 144.39L1462.53 169.89L1462.53 220.89L1418.36 246.39L1374.2 220.89L1374.2 169.89zM1462.53 373.89L1506.7 399.39L1506.7 450.39L1462.53 475.89L1418.36 450.39L1418.36 399.39zM1462.53 526.89L1506.7 552.39L1506.7 603.39L1462.53 628.89L1418.36 603.39L1418.36 552.39z' stroke='url(%23SvgjsLinearGradient1367)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1365'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1366'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 139%2c 144%2c 0.85)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0' y1='280' x2='1440' y2='280' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1367'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(38%2c 209%2c 218%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
main {
    width: 90%;
    max-width: 60rem;
    min-height: 15rem;
    padding: 2rem;
    margin: 2rem auto;
    background: rgba(255,255,255,0.75);
    border-radius: 1rem;

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
}

.form {
    padding: 1rem;
}
.form, .form > * {
    border-radius: 1rem;
}
.info {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.info > span {
    color: #000;
}
.textarea {
    width: 100%;
    min-height: 20rem;
    padding: 1.5rem;
    color: seagreen;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.4;
    border: 1px solid #42cff2;
}

.btn {
    width: 100%;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    border: 0;
    font-weight: bold;
    font-size: 1.8rem;
    background: linear-gradient(118deg, #42cff2, #4a66f3);
    color: #fff;
    overflow: hidden;
    transition: 0.5s linear;
    position: relative;
}

.btn-icon {
    position: absolute;
    right: 50%;
    bottom: 0;
    font-size: 3rem;
    display: inline-block;
    transform: rotate(300deg) translate(-150%, 50%);
}
.btn:focus .btn-icon {
    animation: btn2slinear forwards;
    /**********************/
}
@keyframes btn {
    0% {
        transform: rotate(300deg) translate(-150%, 50%);
    }
    40% {
        transform: rotate(360deg) translate(120%, 0%);
        font-size: 4rem;
        opacity: 0.8;
        filter: drop-shadow(-10rem 0rem 0.75rem #c0c0c0);
    }
    100% {
        transform: rotate(360deg) translate(1000%, 15%);
        font-size: 6rem;
        opacity: 0.4;
    }
}


.thread-box {
    min-height: 5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.thread {
    min-height: 5rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    background: #fafdfe;
}

.tools {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tools .index {
    margin-right: auto;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background: teal;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.close, .copy {
    border: 1px solid #f6f6f6;
    cursor: pointer;
    margin: 0 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    display: inline-block;
    transition: 0.25s;
}
.close:hover ,
.copy:hover {
    transform: scale(1.2);
    border-radius: 0.5rem;
}

.tweet {
    user-select: all;
    text-align: justify;
}

.tweet .sl {
    font-weight: bold;
}


.credit {
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.credit a {
    color: salmon;
}


@media only screen and (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
}