* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.5rem;
    display: grid;
    place-items: center;

    background-image: repeating-linear-gradient(293deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),repeating-linear-gradient(43deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),repeating-linear-gradient(0deg, hsla(29,0%,74%,0.12) 0px,transparent 7px,hsla(29,0%,74%,0.12) 12px,transparent 19px,hsla(29,0%,74%,0.12) 24px,transparent 31px,hsla(29,0%,74%,0.12) 36px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253));
}

button {
    cursor: pointer;
    border: 0;
}

main {
    width: 30rem;
    height: 100vh;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(-110deg, #343A40, #202C39);
    position: relative;
}

.search {
    padding: 0.75rem 1rem;
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    background: rgba(0,0,0,0.9);
    color: #fff;
    box-shadow: 0px 0px 0.5rem rgba(255,255,255,0.5);
    transition: all 0.5s ease;

    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 25rem;
    z-index: 7;
}
.search:focus {
    box-shadow: 0px 0px 1rem rgba(255,255,255,0.5);
}


.contacts {
    margin: 5rem 0 3rem 0;
    display: flex;
    flex-direction: column;
}
.contact {
    width: 26rem;
    height: 6rem;
    margin: 0.5rem 0;
    background: rgba(0,0,0,0.75);
    border-radius: 1rem;
    transition: all 0.5s ease;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}
.contact:hover {
    height: 14rem;
}


.imgBox {
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(255,255,255,0);
    font-weight: bold;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: relative;
}
.imgBox .initial,
.imgBox img {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: inherit;
}


.imgBox .initial {
    z-index: 1;
    font-size: 2.5rem;
    display: grid;
    place-items: center;
}
.imgBox img {
    object-fit: cover;
    z-index: 2;
}


.info {
    width: 16rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    color: rgba(211, 211, 211, 1);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
p.number {
    color: rgba(211, 211, 211, 0.25);
    font-style: italic;
}

.info-hidden {
    margin-top: 1rem;
    color: #ddd;
}
.info-hidden > * {
    margin: 0.25rem 0;
}
.info-hidden .delete {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    background: salmon;
}


.toggle {
    color: #fff;
    font-size: 3rem;
    position: fixed;
    left: calc(50% + 10rem);
    bottom: 2rem;
    padding: 0.5rem 1.35rem;
    background: salmon;
    border-radius: 50%;
    z-index: 9;
}
.formBox {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    align-content: center;
}
.formBox input, .submit {
    padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.5rem;
}
.submit {
    width: 60%;
    margin: 0 auto;
    color: #fff;
    background: dodgerblue;
    font-weight: bold;
    padding: 1rem;
}

.toggleForm .formBox {
    display: none;
}

p.footer {
    text-align: center;
    padding: 1rem;
}
p.footer a {
    text-decoration: none;
    color: salmon;
}